html{
    height: 100%;
    margin: 0px;
}
body{
  background-color: red;
  color: rgb(0, 255, 0);
  text-align: center;
}

.topnav{
    overflow: hidden;
    background-color: black;
}

.topnav a{
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a.active{
    background-color: aquamarine;
    color: yellow;

}

.topnav a:hover{
    background-color: azure;
    color: white;
}
body{
    background-color: red;
}
h1{
    background-color: cyan;
    border: 10px solid yellow;
    color: blue;
}
.footer{
    background-color: blue;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    padding: 10px ;
    border: 5px solid rgb(255, 238, 0);
    box-shadow: 10px solid green;
    position: sticky;
}
.contact-container{
   width: 400px;
   padding: 20px ;
   margin: 50px auto;
   background-color: red;
   border-radius: 10;
   box-shadow: 0 5px 9px greenyellow;
}
h2{
    text-align: center;
    color: navy;
}
 input, textarea{
    color: aquamarine;
    text-align: center;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 10px;
    border: 2px solid gold;
    width: 100%;
 }
 button{
    width: 100%;
    padding: 10px;
    background-color: darkcyan;
    color: rgb(201, 255, 6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 button:hover{
    background-color: aqua;
 }